body{
font: normal 12px tahoma,宋体;
color: #969696;
}
body,ul,ol,tr,dl,dd,form,input,h1,h2,h3,h4,h5,p{
margin: 0px;
padding: 0px;
}
a{
color: #000;
text-decoration: none;
}
body #container a:hover {
color: #ff7300;
}
a img{
border: 0px;
}
li{
list-style: none;
}
input{
border: 1px #ccc solid;
height: 17px;
width: 131px;
vertical-align: middle;
}


/*首页顶部*/
#header{
 width: 1000px;
 height: 90px;
 padding-left: 300px;
 padding-top: 38px;
}
#header h1{
width: 300px;
}
#header ul{
 background: #969696;
 margin-bottom: 8px;
 }
#header ul li{
 background: #fff;
 color: #000;
 padding: 0px 16px;
 height: 14px;
 float: left;
 font: bold 14px/16px 宋体;
 margin-right:2px ;
}
#header a {
color: #aaa;
}
#header form{
padding: 0px 0px 0px 16px;
}
.searchbox{
 width: 352px;
 height: 27px;
 line-height: 27px;
padding: 0 0 0 32px;
border: 5px #1fadff solid;
background: url(../img/icon.gif) no-repeat;
}
.submit{
 width: 76px;
 height: 37px;
 line-height: 37px;
 font: bold 16px 宋体 ;
 background: #3eb7fe;
 color: #fff;
}

/*主体*/
/*常用细节风格样式*/
.a_c{text-align: center;}
.a_r{text-align: right;}
.f_l{float: left;}
.f_r{float: right;}
.clear{clear: both;}

.b{font-weight: bold;}
body #container .bl{border: 1px #ccc solid;}
#container .b0{
border: 0px;
width: auto;
height: auto;
}
#container .n0{margin: 0px;}
#container .cn{color: #1c6ed1;}
#container .underline{text-decoration: underline;}
.red{color: red;}
.blue{color: blue;}
.brown{color: brown;}
.c3{color: #333;}
.c9{color: #999;}

.w3p{width: 3%;}
.w10p{width: 10%;}
.w15p{width: 15%;}
.w20p{width: 20%;}
.w50p{width: 50%;}

.w9{width: 9px;}
.w20{width: 20px;}
.w40{width: 40px;}
.w76{width: 76px;}
.w81{width: 81px;}
.w100{width: 100px;}
.w129{width: 129px;}
.w175{width: 175px;}
.w216{width: 216px;}
.w310{width: 310px;}
.w364{width: 364px;}
.w500{width: 500px;}
.w600{width: 600px;}

.h26{height: 26px;}
.h27{height: 27px;}
.h32{height: 32px;}
.h40{height: 40px;}
.h50{height: 50px;}
.h58{height: 58px;}
.h74{height: 74px;}

.pt3{padding-top: 3px;}
.pr10{padding-right: 10px;}
#container .mr17{margin-right: 17px;}

/*首页右侧*/
 .aside{width: 330px;height: 100%;float: left;
 _margin-right:-3px;}
.login{width: 308px;
height: 180px;
padding: 10px;
background: #ecf5fc;
margin-bottom: 10px;
}
.login .imgsubmit{width: 88px;height: 30px;}
.login li{line-height: 24px;}
.login label{color: #1C6ED1;}
.login input{width: 80%;height: 18px;}
.aside p{height: 33px;width: 308px;background: #ECF5FC;line-height: 50px;font: normal 16px 宋体;margin-bottom: 10px;padding: 17px 0px 0px 20px;}
.neighbor{width: 328px; height: 173px;}
.neighbor h1{background: url(../img/neighbor_bg.gif) repeat-x;
border-bottom: 1px #16b3dc solid;
height: 25px;
line-height: 25px;
padding-left: 10px;
 }
 .neighbor dl{padding: 6px 10px;width: 42%;}
.neighbor dt,.neighbor dl{float: left;}
.neighbor dt{padding: 5px 8px 0px 0px;}
.neighbor dd{line-height: 21px;}


/*首页主体*/
#main{width: 1000px;height: 454px;margin: 0 auto;padding: 0;}
#main .b1{border: 1px #ccc  solid;}
#main a {color: #1C6ED1;}
.content{width: 578px;height: 432px;
padding: 10px;line-height: 22px;float: left;margin-right:10px ;}
.focus{width: 100%;height: 200px;}
.content_list h1,.neighbor h1{font:bold 12px 宋体 ;color: #666;height: 24px;line-height: 24px;}
.content_list h1 span,.neighbor span{color: #ff7300;}
.content_list div{width: 50%;float: left;}
.content_list dl{height: 72px;}
.content_list dl dd,.content_list dl p{width: 210px;float: left;}
.content_list dl dt{width: 60px;height: 60px;float: left; padding-top: 6px;}
.content_list dl dt img,.neighbor dl dt img{width: 50px;height: 50px;border: 1px #ccc solid;}
.flag{width: 100%;height: 90px;padding: 10px 0px;text-align: center;}



/*首页底部 */
#footer{
width: 100%;
height: 80px;
background: url(../img/footer_bg.gif) repeat-x;
text-align: center;
line-height: 40px;
}
#footer a {padding: 0px 8px;}
