body{
	padding: 0px;
	margin: 0px;
	font: 12px tahoma;
}
ul,ol,h1,dl,dd{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
a{color: #333333;text-decoration: none;}
a:hover{color: #FF7300;}
a img{border: 0px;}
#container{
	width: 980px;
	margin: 0 auto;
	float: none;
}
.catlist{background: url(../img/catlist_bg.gif) no-repeat;padding-top:65px;}
.catlist td{
	border-bottom:1px #ddd dashed;
	line-height: 30px;
}
table#main{width: 100%;height: 643px;}
.bt{font-weight: bold;}
.a_c{text-align: center;}
.a_l{text-align: left;}
.a_r{text-align: right;}
.a_l{text-align: left;}
.a_r{text-align: right;}
.a_n{text-align: none;}

.w10p{width: 10%;}
.w20p{width: 20%;}
.w50p{width: 50%;}

.photo {background: url(../img/bg.gif);}
