body {
	padding: 0px;
	margin: 0px;
	font: 12px tahoma;
}

ul,
ol,
h1,
dd {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

a {
	color: #333333;
	text-decoration: none;
}

a:hover {
	color: #FF7300;
}

a img {
	border: 0px;
}

#container {
	width: 980px;
	margin: 0px auto;
	float: none;
}


/*商品分类列表页*/

table#main hr {
	border: 1px #CCCCCC dashed;
	}
	.imgborder {
		border: 2px #ddd solid;
	}
}


/*商品信息页*/

.good {
	width: 100%;
}

.good h1 {
	width: 100%;
	height: 40px;
	background: url(../img/goodtitle_bg.gif) repeat-x 0px -3px;
	border-bottom: 1px solid #DDDDDD;
	font: bold 14px/40px "微软雅黑";
	text-align: center;
}

.good ul {
	width: 350px;
	padding-right: 35px;
}

.bigimg {
	padding: 15px 0px;
}

.bigimg img {
	border: 1px #ccc solid;
}

.smalling {
	float: left;
	width: 65px;
}

.smalling img {
	border: 2px #ddd solid;
}

.op {
	width: 175px;
}

.goodinfo {
	letter-spacing: 0.5px;
	line-height: 30px;
}

.goodinfo li {
	border-bottom: 1px #ddd dashed;
}

li.buynow {
	height: 74px;
	line-height: 74px;
	border: 0px;
}

li.buynow img {
	padding: 17px 0px;
	vertical-align: middle;
}

li.onlinepay {
	background: #ffffed url(../img/onlinepay.gif) no-repeat 5px 8px;
	border: 1px solid #ddcf8f;
	line-height: 16px;
	padding: 5px 0px 3px 76px;
}

.goodinfo li span {
	padding-left: 15px;
}