* {
	padding: 0;
	margin: 0;
}

body,
html {
	font-family: "Microsoft YaHei", SimHei, "微软雅黑", "黑体";
}

body {
	background: url(../img/body.png) repeat-x;
}

h2,
h3 {
	font-weight: normal;
}

.container {
	width: 956px;
	margin: 0 auto;
}

.reg-top {
	background: url(../img/bg_chs.png) repeat-x center top;
	height: 109px;
}


/**注册区域**/

.reg-box {
	height: 600px;
	background: #f9fdff;
	border: 1px #81add9 solid;
	border-top: 0 none;
}


/**表单区域**/


/**标题**/

.reg-main {
	width: 700px;
	margin: 0 auto;
	padding: 1px;
}


/**标题样式**/

.reg-main h3 {
	height: 25px;
	line-height: 25px;
	border-left: 3px #59AfE4 solid;
	padding-left: 10px;
	font-size: 18px;
	margin-top: 80px;
	color: #666;
}


/**表单样式**/

.reg-form {
	border-top: 1px #d7d7d7 solid;
	margin-top: 10px;
}

.reg-input {
	height: 36px;
	line-height: 36px;
	margin-top: 18px;
}

.reg-input label {
	float: left;
	width: 100px;
	padding-right: 8px;
	text-align: right;
	font-size: 14px;
}

.reg-input label i {
	color: red;
	margin-right: 3px;
	font-style: normal;
}

.reg-input input {
	float: left;
	width: 280px;
	height: 18px;
	line-height: 18px;
	font-size: 14px;
	padding: 8px;
	border: 1px #a8d2e7 solid;
}

.reg-input span {
	float: left;
	padding-left: 10px;
	font-size: 12px;
	color: #666;
}

#submit {
	width: 180px;
	height: 50px;
	font-size: 24px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	margin-top: 50px;
	margin-left: 110px;
	border: 0 none;
	background: #b6010e;
	font-family: "Microsoft YaHei", SimHei, "微软雅黑", "黑体";
	cursor: pointer;
}