#container{width:940px;margin: 0px auto; }
#header{width:100%;padding-top: 10px;}
#header div{float: left;}
.logo{padding: 0px 45px 13px 0px;}
.banner{ padding: 0px 0px 1px 0px ;}
/*活动页据点页顶部*/
/*.round{line-height: 60px;background:url(../img/rounded-right.gif) top right no-repeat;width: 230px;float: left;}*/
.round{line-height: 20px;background:red top right no-repeat;width: 300px;float: left;}
/*.round .list{padding: 19px 19px 10px 9px;background: url(../img/rounded-left.gif)top left no-repeat;}*/
.round .list{padding: 19px 19px 10px 9px;background:blue top left no-repeat;}
/*.round .end p {line-height:9px;height:9px;margin-top:-9px;padding:0 9px 9px 0;background:url(../img/rounded-right.gif)bottom right no-repeat}*/
.round .end p {line-height:9px;height:9px;margin-top:-9px;padding:0 9px 9px 0;background:#22AA99 bottom right no-repeat}
/*.nav{width: 100%;height: 112px;background: url(../img/bg.gif)no-repeat;}*/
.nav{width: 100%;height: 112px;background: aquamarine no-repeat;}
.nav ul li .welcome{width: 230px;font: normal 12px/36px 宋体;color: #000;}
.nav ul li {float: left;width: 64px;font: bold 14px/36px 宋体;text-align: center;color: #fff;}
#header .nav ul li a {color: #FFFFFF;}
#header .nav ul li a :hover{color: #FF7300;}
/*.nav ul li .curmenu{width: 100px;color: #046ac7;background: url(../img/bg.gif)0px -112px no-repeat;}*/
.nav ul li .curmenu{width: 100px;color: #046ac7;background:#FF7300  0px -112px no-repeat;}
.nav form{margin: 55px 0px 0px 20px;}
.nav form input{float: left;height: 25px;line-height: 27px;}
/*活动页主体*/
#main{width: 100%; float: left;}
.cat{float: left;clear: both;padding: 10px 2px 2px 2px ;margin-right:10px ;width: 196px;height: 1300px;font-size: 14px;background: #e2e2e2;}
/*.cat h1,.aside h1{float: left;border: 1px #CCCCCC solid;padding-left: 10px;width: 182px;
                           height: 42px;font: bold 14px/42px 宋体;background: url(../img/h1_bg.gif)repeat-x;}*/
 .cat h1,.aside h1{float: left;border: 1px #CCCCCC solid;padding-left: 10px;width: 182px;
                           height: 42px;font: bold 14px/42px 宋体;background: url(../img/h1_bg.gif)repeat-x;}
#main .cat p{float: left;color: #000000;width: 190px;padding-left: 5px;line-height: 25px;height: 25px;background: #e2e2e2;}
.cat p a {padding: 0px 10px 2px 10px;margin-right: 23px;text-decoration: underline;text-emphasis-color: #f70;background: #FFFFFF;}
#main .cat ul{float: left;border: 1px #d8dacd solid;padding:0px 0px 10px 10px;margin-bottom:10px ;width: 184px;color: #000000;background: #FFFFFF;}
.cat h2{clear: both;height: 32px;color: #000000;font: bold 14px/32px 宋体;}
.cat li {line-height: 25px;float: left;width: 50%;}
.cat ul li a {color: #666666;}
.cat ul li span{color: #FF7300;}
#main ul .date{width: 185px;padding: 5px 5px 10px 5px ;}
.date h5{height: 19px;font: bold 12/19px 宋体;background:#e0f4d8 ;text-align: center;}
.date select{float: left;width: 50%;background: #81c443;}
.date li{width: 24px;height: 12px;line-height: 12px;border: 1px #ddd solid;font: normal 10px arial;text-align: center;}
.date li .curday{background: #81C443;}
.date .weekday li {background: #b2da77;border: 0px;height: 16px;width: 26px ;padding-top:2px ;font-size: 12px;}
.date li a {display: block;width: 22px;height: 12px;}
.date li a:hover{height: 11px;line-height: 11px;border: 1px #000000 solid;background: #FFFFFF;}
.content{width: 727px;height: 100%;float: left;}
.spot_content{margin-right: 10px;}
/*.content .index{margin: 10px 0px 15px 0px;height: 30px;font: normal 12px/31px 宋体 color:
                         inherit;304562;border-bottom: 1px #afcaf7 solid;background: #FFFFFF url(../img/bg.gif) -305px -121px no-repeat;}*/
 .content .index{margin: 10px 0px 15px 0px;height: 30px;font: normal 12px/31px 宋体 color:
                         inherit;304562;border-bottom: 1px #afcaf7 solid;background: #FFFFFF  -305px -121px no-repeat;}
.content .index a {color: #304562;}
.content .index span{font: normal 14px arial;}
.content_list {float: left;width: 353px;padding-top:10px;}
.content_list h1{padding: 0px 13px;width: 326px;height: 34px;font: bold 14px/34px arial;color: #000000; 
                           background: url(../img/bg.gif) 0px -170px no-repeat;}
 .content_list h1 a {font: normal 12px/34px 宋体;color: #000000;}
.content_list div .round{position: relative;width: 353px;line-height: 22px;color: #5a5a5a;}
.content_list ul .list{height: 318px;}
.content_list .ftxt{width: 331px;height: 24px;line-height: 24px;font-size: 14px;text-align: center;position: absolute;top: 110px;left: 9px;z-index: 15;}
.content_list .ftxt a {color: #FFFFFF;}
.content_list .fbg{z-index: 14;background: #000000;filter: alpha(opacity=50);opacity: 0.5;}
.content_lista {color: #1770ee;}
.content_list span,.memu span{color: #ff5f41;}
.content_list li .dashed{border-top:1px #CCCCCC dashed;margin-top:6px ;padding-top: 6px;}
.content_list .round ul .list li img{width: 331px;height: 125px;}
/*首页底部*/
/*#footer{clear: both; width: 100%;height: 80px;background: url(../img/footer_bg.gif) repeat-x;text-align: center;line-height: 40px;}*/
#footer{clear: both; width: 100%;height: 80px;background: url(../img/footer_bg.gif) repeat-x;text-align: center;line-height: 40px;}
#footer a{padding: 0px 8px;}
.b{font-weight: bold;}
.c390{color: #390;}
.c999{color: #999;}
.cf60{color: #f60;}
.c06c,li a:link,#header a {color: #06c;}
.a_c{text-align: center;}
.b0{border: 0px;height: auto;width: auto;}
h3{color: #333333;font: bold 14px/14px 宋体;text-align: center;height: 14px;margin: 14px 0px;}
/*#container{width: 1004px;margin: 0px auto;background: url(../img/register_bg.gif)no-repeat;font: normal 12px/37px 宋体;color: #000000;}*/
#container{width: 1004px;margin: 0px auto;background: url(../img/register_bg.gif)no-repeat;font: normal 12px/37px 宋体;color: #000000;}
#header{height: 146px;}
#main{width:710px;height: 600px;margin: 0px auto;padding: 0px 96px;}
.logo{padding-left: 37px;height: 80px;}
.backhome{margin: 36px 34px 0px 0px;text-align: right;}
p .tet{border: 1px #ffdb8c solid;background: #fffde7;color: #000000;padding: 6px;line-height: 696px;font-size: 14px;width: 696px;height: 58px;}
form{width: 556px;margin: 0px auto;height: 37px;}
form ul {height: 37px;line-height: 37px;}
form p {padding: 0px 27% 15px 20%;width: 53%;line-height: 16px;}
.other{background: #2a9;color: #eee;font: bold 12px/20px 宋体;height: 20px;border: 2px #CCCCCC solid;width: 60px;}
/*.submit{font:bold 14px 宋体;color: #FFFFFF;background: url(../img/submit_bg.gif)no-repeat;width: 163px;height: 34px;margin: 15px 0px 35px 0px;}*/
.submit{font:bold 14px 宋体;color: #FFFFFF;background: url(../img/submit_bg.gif)no-repeat;width: 163px;height: 34px;margin: 15px 0px 35px 0px;}
label,form li {height: 20px;line-height: 20px;float: left;}
label{_margin-top:2px;width: 18%;padding-right: 2%;text-align: right;}
form li{width: 79%;}



