body{margin: 0px;padding: 0px;}
div{font: bold 36px 宋体;color:#fff;}
#container{width: 980px;margin: 0px auto;}
#header{width:100%;height: 136px;background:#ccc;color: #000;}
#main{width: 100%;height: 400px;}
.cat,.content,.sidebar{float: left;width: 20%;height: 100%;}
.cat{background: #666;}
.sidebar{background: blue;}
.content{width: 60%;background: red;}
#footer{width: 100%;height: 100px;background: #ccc;color: #000;}
