#right{
width: 250px;
height: 270px;
padding: 17px;
background: url(../img/bg.gif)no-repeat;
}
#right dl dt{
float: left;
margin: 0px;
width: 90px;
padding: 2px 0px;
text-align: center;
}
#right dl dt img{
border: 1px solid #9ea0a2;
width: 60px;
height: 47px;
vertical-align: middle;
}
#right dl dd a{
font: 10px/47px 宋体;
color: #333;
text-decoration: none;
}
#right dl dd a:hover{
color: #ff7300;
}
